*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    width: 100%;
    background:linear-gradient(to right,rgba(4,9,30,0.7),rgba(4,9,30,0.3)),url('../img/register.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
    display:flex;
    justify-content: center;
    flex-direction: column;

}

.login{
    margin:0 30%;
    height: 300px;
    padding: 20px;
    background-color:rgba(4,9,20,0.7);
    border-radius:15px;
    text-align:center;
}

.login div{
    margin:2%;
}

.login h2{
    color: gold;
    font-size:25px;
}


.login input{
    padding:15px;
    border-radius: 5px;
    background-color:rgba(4, 9, 20, 0.7);
    font-size:16px;
    border:none;
    color: white;
}


.btn_submit{
    background-color:rgba(9,25,45,0.8);
    padding:10px 25px;
    font-size:25px;
    transition:0.5s ease-in-out;
}

.options{
    padding:5px;
}

.options a{
    margin-left:10px;
    transition: 0.5s ease-in;
}

.link_submit{
    color: white;
    font-size:15px;
    text-decoration: none;
}

.btn_submit:hover{
    cursor: pointer;
    background-color: gold;
    padding:10px 30px;
}

.options a:hover{
    color: gold;
}



/*Media query*/
@media(max-width:920px){
    .login{
        height:400px;
    }

    .login div{
        margin-top:30px;
    }

    .login input{
        padding:20px;
        font-size:18px;
    }

    .btn_submit{
        font-size:20px;
        padding:15px 50px;
    }

    .link_submit{
        font-size:18px;
    }
}

@media(max-width:590px){
    .login{
        height:450px;
        margin:0 15%;
    }

    .login div{
        padding:5px;
    }

    .login input{
        font-size:12px;
    }

    .login h2{
        font-size:18px;
    }

    .link_submit{
        font-size:12px;
    }
}

@media(max-width:300px){
    .login input{
        font-size:10px;
    }
}

