:root{
    --color_blanco:white;
    --color_dorado:gold;
    --color_verde:#41BA0B;
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('../img/university_english.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width:250px;
}

.nav-links{
    flex:1;
    text-align:right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: var(--color_blanco);
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 5px;
    background: var(--color_dorado);
    display: block;
    margin: auto;
    transition: 0.5s ease-in-out;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.main-text{
    width: 90%;
    color: var(--color_blanco);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
}

.main-text h1{
    font-size: 62px;
    font-weight: bolder;
}

.main-text p{
    margin:10px 0 40px;
    font-size:16px;
    color: var(--color_blanco);
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: var(--color_blanco);
    border: 1px solid var(--color_blanco);
    padding: 15px 40px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.more:hover{
    border: 1px solid var(--color_dorado);
    background: var(--color_dorado);
    transition:1s ease-in;
}


/*Media query*/

@media(max-width:720px){
    .main-text h1{
        font-size:25px;
    }
    
    .nav-links ul li a{
        font-size:13px;
    }
    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: var(--color_dorado);
        height:100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}
